
<section fxLayout="column">
   
    <div class="main-container" fxLayout="column">
        <div fxLayout class="assets">
            <button style=" background-color:rgba(196, 196, 196, 1) ; border: none; cursor: pointerS;" routerLink="/Movies">Movies</button>
        </div>
        <div fxLayout class="assets">
            <button style=" background-color:rgba(196, 196, 196, 1) ; border: none; cursor: pointer;" routerLink="/books">Books</button>
        </div>
        <button (click)="logout()">Log out</button>
    </div>
</section>