<section fxLayout="column">
  
    <div class="movie" fxLayout="row">
        <span>Title</span>
        <span>{{movie.Title}}</span>
    </div>
    <div class="movie" fxLayout="row">
        <span>Category</span>
        <span>{{movie.Category}}</span>
    </div>
    <div class="movie" fxLayout="row">
        <span>Type</span>
        <span>{{movie.type}}</span>
    </div>
    <div class="movie" fxLayout="row">
        <span>Hero</span>
        <span>{{movie.Main_Actor}}</span>
    </div>
    <div class="movie" fxLayout="row">
        <span>Description</span>
        <span>{{movie.Description}}</span>
    </div>
    <div>
        <a routerLink="/Movies">Back</a>
    </div>
</section>