section {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.center {
    justify-content: center;
    align-items: center;
}
.btn {
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 2px;
    height: 46px;
    width: 315px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 35px;
    background-color: #EE237C;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}
.save {
    background: none;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: medium;
}