<section fxLayout="column">
    <div>
        <h1>SIGN IN</h1>
    </div>
    <div>
        <form [formGroup]="loginForm" (ngSubmit)="signin(loginForm.value)" fxLayout="column">
            <mat-form-field fxLayout="column">
                <mat-label>Email</mat-label>
                <input type="text" formControlName="email" matInput>
            </mat-form-field>
            <mat-form-field fxLayout="column">
                <mat-label>Password</mat-label>
                <input type="text" formControlName="password" matInput>
            </mat-form-field> 
            <div class="center btn" fxLayout>
                <button class="save" type="submit"> Login</button>
            </div>
            <div class="center" fxLayout>
                <a routerLink="/signup">Don't have an Account?Sign Up</a>
            </div>
        </form>
    </div>
</section>
