<section fxLayout="column">
  
    <div class="movie" fxLayout="row">
        <span>Title</span>
        <span>{{book.Title}}</span>
    </div>
    <div class="movie" fxLayout="row">
        <span>Author</span>
        <span>{{book.Author}}</span>
    </div>
    <div class="movie" fxLayout="row">
        <span>Type</span>
        <span>{{book.Type}}</span>
    </div>
    <div class="movie" fxLayout="row">
        <span>Pages</span>
        <span>{{book.Pages}}</span>
    </div>
    <div class="movie" fxLayout="row">
        <span>About</span>
        <span>{{book.About}}</span>
    </div>
    <div>
        <a routerLink="">Back</a>
    </div>
</section>
<app-nav-bar></app-nav-bar>